# Dependencies
/node_modules

# Vite
/dist
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
